
<div class="custom-wishlist-button absolute right-0 top-0 hidden">
    
    <div class='xb-wishlist__btn-custom'>
  <div
    class='xb-wishlist__add'
    xb-product-id='{{card_product.id}}'
    xb-product-title='{{ card_product.title }}'
    xb-product-variant='{{ card_product.selected_or_first_available_variant.id }}'
    xb-is-in-stock='{{ card_product.available }}'
    xb-product-handle='{{ card_product.handle }}'
  >
    <button aria-label="Add/Remove wishlist button">
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='20'
        height='20'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#FF4A71'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
      </svg>
    </button>
  </div>
  {% comment %}
     - optional
    <div class="xb-wishlist__loading" xb-product-id="{{product.id}}">Loading...</div>
  {% endcomment %}
  <div class='xb-wishlist__remove' xb-product-id='{{card_product.id}}' xb-is-in-stock='{{ card_product.available }}' xb-product-variant="{{ card_product.selected_or_first_available_variant.id }}">
    <button>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='20'
        height='20'
        viewBox='0 0 24 24'
        fill='#FF4A71'
        stroke='#FF4A71'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
      </svg>
    </button>
  </div>
</div>
</div>
