<style>
	.aplus-v2.desktop {
		min-width: 800px;
		margin-left: auto;
		margin-right: auto;
		word-wrap: break-word;
		overflow-wrap: break-word;
		word-break: break-word;
	}
	.aplus-v2 .aplus-container-3 {
		padding: 40px 0 0;
	}
	.aplus-v2 .premium-aplus .aplus-h1 {
		font-size: 32px;
		line-height: 1.2em;
		font-weight: 500;
	}
	.aplus-v2 .premium-aplus-module-5 .table-container {
		position: relative;
		opacity: 1;
	}
	.aplus-v2 .premium-aplus-module-5 .table-slider {
		overflow-x: auto;
		overflow-y: visible;
		width: 100%;
		{% comment %} border: 1px solid #d5d9d9; {% endcomment %}
		border-radius: 8px;
	}
	.aplus-v2 .premium-aplus-module-5 table.a-bordered {
		border-width: 0px;
		border-color: #d5d9d9;
		border-style: solid;
		border-radius: 8px;
		margin-left: auto;
		margin-right: auto;
	}
	.aplus-v2 .premium-aplus-module-5 table.a-bordered tr:last-child {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	.aplus-v2 .premium-aplus-module-5 table.a-bordered tr:last-child td {
		{% comment %} border-bottom: 0; {% endcomment %}
	}
	.aplus-v2 .premium-aplus-module-5 table.a-bordered tr:last-child td:first-child {
		border-bottom-left-radius: 8px;
	}
	.aplus-v2 .premium-aplus-module-5 table.a-bordered tr:last-child td:last-child {
		border-bottom-right-radius: 8px;
	}
	th.aplus-data-column.top-header {
    	border: 0;
	}
	td.attribute.a-text-bold.column-cell-1 {
    	border-top-left-radius: 8px;
	}
	tr.first-content-row td:last-child {
		border-top-right-radius: 8px;
	}
	.aplus-v2 .premium-aplus-module-5 .scroll-width {
		overflow-x: scroll;
		overflow-y: visible;
	}
	table.a-bordered {
		border-start-start-radius: var(--__TxpmBlwIJ, .5rem);
		border-start-end-radius: var(--__TxpmBlwIJ, .5rem);
		border-end-start-radius: var(--__TxpmBlwIJ, .5rem);
		border-end-end-radius: var(--__TxpmBlwIJ, .5rem);
		border-width: var(--__TxpzNygdu, .0625rem);
		margin-bottom: 22px;
		border-style: solid;
		border-color: var(--__dChNmAmGoMXsTxp, #d5d9d9);
		border-collapse: separate;
		border-spacing: 0;
		overflow: hidden;
	}
	td, th {
		padding: .1875rem;
		vertical-align: top;
	}
	table.a-bordered td, table.a-bordered th {
		border-bottom: 1px solid #d5d9d9;
		border-right: 1px solid #d5d9d9;
		border-color: #dfd9d9;
		padding-block-start: 8px;
		padding-inline-start: .75rem;
		padding-inline-end: .75rem;
		padding-block-end: 8px;
		background-color: var(--__dChNmAmGoMXsPxT, #fff);
	}
	.aplus-v2 .premium-aplus-module-5 table.a-bordered td, .aplus-v2 .premium-aplus-module-5 table.a-bordered th {
		background-color: #fff;
		vertical-align: middle;
	}
	.aplus-v2 .premium-aplus-module-5 td.attribute.empty {
		height: 300px;
		border-top-left-radius: 8px;
		border: 0;
	}
	tr.first-content-row td {
		border-top: 1px solid #d5d9d9;
	}
	.aplus-v2 .premium-aplus-module-5.enso-comparison td.attribute.empty {
		height: 250px;
	}
	td.aplus-data-column.secondary-content-column:last-of-type,
	th.aplus-data-column.top-header:last-child {
    	{% comment %} border-right: 0; {% endcomment %}
	}
	th.aplus-data-column.top-header:last-child {
    border-top-right-radius: 8px;
	}
	.aplus-v2 .premium-aplus-module-5 .attribute, .aplus-v2 .premium-aplus-module-5 .active-item {
		position: sticky;
	}
	.aplus-v2 .premium-aplus-module-5 td.attribute {
		min-width: 230px;
		top: auto;
		left: 0;
		z-index: 100;
	}
	.aplus-v2 .premium-aplus-module-5 td.attribute:not(.empty) {
		background-color: #f8f8f8;
		border-left: 1px solid #d5d9d9;
	}
	
	.aplus-v2 .premium-aplus-module-5 table.a-bordered td, .aplus-v2 .premium-aplus-module-5 table.a-bordered th {
		background-color: #fff;
	}
	.aplus-v2 .aplus-review-right-padding {
		padding-right: 0.1rem;
	}
	
	.aplus-v2 .premium-aplus-module-5 td.active-item, 
	.aplus-v2 .premium-aplus-module-5 th.active-item {
		top: auto;
		left: 279px;
		z-index: 100;
	}
	.comparison-metric-name {
		font-weight: 600;
		font-size: 14px;
	}
	td.aplus-data-column {
		font-size: 14px;
		text-align: center;
		padding: 12px !important;
	}
	.comparison-product-card .product-card {
		border: 0;
		padding: 0;
	}
	.comparison-product-card .custom-wishlist-button,
	.comparison-product-card .product-badges-container,
	.comparison-product-card .mt-4.empty\:hidden {
		display: none
	}
	.comparison-product-card .group\/media:hover .group-hover\/media\:opacity-100 {
		opacity: 0;
	}
	.comparison-product-card .product-card:hover {
		transform: translateY(0)
	}
	.comparison-product-card h2.product-name {
		-webkit-line-clamp: 1;
		min-height: 25px;
		font-size: 14px;
	}
	.comparison-product-card .add-to-cart-span {
		font-size: 14px;
	}
	.enso-comparison .comparison-product-card quick-add-button,
	.enso-comparison .comparison-product-card .product-card__info {
		display: none;
	}

	.enso-comparison .comparison-product-card .product-card-media.media.rounded-block {
    padding-bottom: 0;
	}
	td.aplus-data-column.active.active-item.second-sticky-column,
	th.aplus-data-column.top-header,
	td.aplus-data-column.secondary-content-column {
		max-width: 230px;
		width: 230px;
		min-width: 230px;
	}
	@media (max-width: 992px) {
		[data-aplus-section-container] {
			padding: 0;
		}
		.aplus-v2.desktop {
			min-width: 100%;
		}
		.aplus-v2 .premium-aplus-module-5 td.attribute {
			min-width: 170px;
			left: -1px;
		}
		.aplus-v2 .premium-aplus-module-5 td.active-item, 
		.aplus-v2 .premium-aplus-module-5 th.active-item {
			left: 169px;
			z-index: 3;
		}
	}
	
	/* mobile design */
	@media (max-width: 768px){
		.aplus-v2 .premium-aplus-module-5 table.a-bordered {
			width: 100%;
		}
		td.aplus-data-column.active.active-item.second-sticky-column {
			left: 0;
			text-align: left;
			display: inline-flex;
			height: 100px;
			align-items: end;
		}
		td.attribute.empty.first-sticky-column,
		.aplus-v2 .premium-aplus-module-5.enso-comparison td.attribute.empty {
			display: none !important;
		}
		td.aplus-data-column.secondary-content-column {
    	vertical-align: bottom;
		}
		.aplus-v2 .premium-aplus-module-5 td.active-item, .aplus-v2 .premium-aplus-module-5 th.active-item {
			left: 0px;
			z-index: 3;
			position: relative;
    	}
		.aplus-v2 .premium-aplus-module-5 td.attribute {
			min-width: 170px;
			left: -1px;
			position: absolute;
			background: transparent;
			background-color: transparent !important;
			height: 100px;
			pointer-events: none;
    	}
		td.aplus-data-column.active.active-item.second-sticky-column {
    	left: 0;
    	text-align: left;
    	display: inline-flex;
    	height: 100px;
    	align-items: end;
		}
		table.a-bordered td, table.a-bordered th {
			border-right: 0;
		}
		.aplus-v2 .premium-aplus-module-5 table.a-bordered td,
		.aplus-v2 .premium-aplus-module-5 table.a-bordered th {
			vertical-align: bottom;
		}
		td.aplus-data-column.active.active-item.second-sticky-column, th.aplus-data-column.top-header, td.aplus-data-column.secondary-content-column {
			max-width: 200px;
			width: 200px;
			min-width: 200px;
	}
		{% comment %} 
		.aplus-v2 .premium-aplus-module-5 th.active-item {
			left: 0;
		}
		.aplus-v2 .premium-aplus-module-5 td.attribute {
			height: 100px;
			min-height: 100px;
			display: flex;
			align-items: flex-start;
			background: transparent;
		}
		.aplus-data-column.secondary-content-column {
			height: 100px;
			min-height: 100px;
			display: flex;
			align-items: flex-end;
			background: transparent;
		} {% endcomment %}
	}
</style>

{% liquid
	assign selected_features = product.metafields.custom.comparison_features.value
	assign compare_products = product.metafields.custom.comparison_products.value
	
	assign current_compare_key = product.metafields.custom.compare_key.value
	if current_compare_key == blank
	assign current_compare_key = product.handle | replace: '-', '_'
	endif
%}


<div data-aplus-section-container {% render 'section-attrs' %}>
	<div class="aplus-v2 desktop">
		
		{% liquid
			assign selected_features = product.metafields.custom.comparison_features.value
			assign compare_products = product.metafields.custom.comparison_products.value
			
			assign current_compare_key = product.metafields.custom.compare_key.value
			if current_compare_key == blank
			assign current_compare_key = product.handle | replace: '-', '_'
			endif
		%}
		
		{% if selected_features != blank and compare_products != blank %}
			<div class="comparison-table-wrap" style="display: none;">
				<table class="comparison-table">
					<tbody>
						<tr>
							<th class="comparison-table__feature-col">Feature</th>
							
							{%- comment -%} Current product column {%- endcomment -%}
							<th class="comparison-table__product-col">
								<div class="comparison-product-card">
									{% if product.featured_image %}
										{{
											product.featured_image
											| image_url: width: 300
											| image_tag: loading: 'lazy', widths: '150, 225, 300', alt: product.title
										}}
									{% endif %}
									<div class="comparison-product-card__title">{{ product.title }}</div>
									<div class="comparison-product-card__price">{{ product.price | money }}</div>
									
									<quick-add-button
										class="no-js-hidden"
										{% if product.has_only_default_variant or product.variants.size == 1 %}
											variant-id="{{ product.first_available_variant.id }}"
										{% endif %}
										handle="{{ product.handle }}"
									>
										<button
											aria-label="{{ 'accessibility.add_to_cart' | t }}"
											class="
												button button-secondary mt-2 w-100"
										>
											<span class="flex justify-center items-center add-to-cart-span">
												{% render 'icon-product-cart-black' %}   <span> Add to cart </span>
											</span>
										</button>
									</quick-add-button>
									
								</div>
							</th>
							
							{%- comment -%} Compared products columns {%- endcomment -%}
							{% for cp in compare_products %}
								{% unless cp.id == product.id %}
									<th class="comparison-table__product-col">
										<div class="comparison-product-card">
											{% if cp.featured_image %}
												{{
													cp.featured_image
													| image_url: width: 300
													| image_tag: loading: 'lazy', widths: '150, 225, 300', alt: cp.title
												}}
											{% endif %}
											<div class="comparison-product-card__title">{{ cp.title }}</div>
											<div class="comparison-product-card__price">{{ cp.price | money }}</div>
										</div>
									</th>
								{% endunless %}
							{% endfor %}
						</tr>
						
						{% for entry in selected_features %}
							<tr>
								<th class="comparison-table__row-title">
									{{ entry.feature_name.value | default: entry.feature_name }}
								</th>
								
								{%- comment -%} Current product value {%- endcomment -%}
								{% assign current_value = entry[current_compare_key] %}
								<td>
									{% if current_value != blank %}
										{{ current_value.value | default: current_value }}
									{% else %}
										—
									{% endif %}
								</td>
								
								{%- comment -%} Compared products values {%- endcomment -%}
								{% for cp in compare_products %}
									{% unless cp.id == product.id %}
										{% assign cp_compare_key = cp.metafields.custom.compare_key.value %}
										{% if cp_compare_key == blank %}
											{% assign cp_compare_key = cp.handle | replace: '-', '_' %}
										{% endif %}
										
										{% assign cp_value = entry[cp_compare_key] | metafield_tag %}
										
										<td>
											{% if cp_value != blank %}
												{{ cp_value.value | default: cp_value }}
											{% else %}
												—
											{% endif %}
										</td>
									{% endunless %}
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
		
		{% if selected_features != blank and compare_products != blank and product.handle != 'enso' %}
			<div class="premium-aplus premium-aplus-module-5 aplus-container-3 comparison-table">
				{% render 'section-header' %}    
				<div id="comparison-table-container-6" data-comparison-name="comparison-table-container-6" class="a-section a-spacing-none table-container">  
				<div class="table-slider scroll-wrapper-bottom">
					<table class="a-bordered a-horizontal-stripes scroll-width">
						<tbody>
							
							<tr class="header-row">
								<td class="attribute empty first-sticky-column"></td>
								
								<th class="aplus-data-column top-header active active-item second-sticky-column">
									<div class="comparison-product-card">
										{% render 'product-card', card_product: product %}
										{% comment %} 
										{% if product.featured_image %}
										{{
										product.featured_image
										| image_url: width: 300
										| image_tag: loading: 'lazy', widths: '150, 225, 300', alt: product.title
										}}
										{% endif %}
										<div class="comparison-product-card__title">{{ product.title }}</div>
										<div class="comparison-product-card__price">{{ product.price | money }}</div>
										<quick-add-button
										class="no-js-hidden"
										{% if product.has_only_default_variant or product.variants.size == 1 %}
										variant-id="{{ product.first_available_variant.id }}"
										{% endif %}
										handle="{{ product.handle }}"
										>
										<button
										aria-label="{{ 'accessibility.add_to_cart' | t }}"
										class="
										button button-secondary mt-2 w-100"
										>
										<span class="flex justify-center items-center add-to-cart-span">
										{% render 'icon-product-cart-black' %}   <span> Add to cart </span>
										</span>
										</button>
										</quick-add-button> {% endcomment %}
									</div>
								</th>
								
								{% for cp in compare_products %}
									{% unless cp.id == product.id %}
										<th class="aplus-data-column top-header">
											<div class="comparison-product-card">
												{% render 'product-card', card_product: cp %}
												{% comment %} {% if cp.featured_image %}
												{{
												cp.featured_image
												| image_url: width: 300
												| image_tag: loading: 'lazy', widths: '150, 225, 300', alt: cp.title
												}}
												{% endif %}
												<div class="comparison-product-card__title">{{ cp.title }}</div>
												<div class="comparison-product-card__price">{{ cp.price | money }}</div> {% endcomment %}
											</div>
										</th>
									{% endunless %}
								{% endfor %}
								
								{% comment %} 
								<th class="aplus-data-column top-header" style="min-width: 230px;">
								<a class="a-link-normal a-text-normal" title="Round Medicine Cabinet" href="/dp/B0F3JSXRF2?ref=emc_p_m_5_i_atc">
								<img alt="" src="https://m.media-amazon.com/images/I/419cv1wNlvL.__AC_SR200,225___.jpg">
								<p class="product-title"> Round Medicine Cabinet </p>
								</a>
								<form method="post" action="/cart/add">
								<input type="hidden" name="anti-csrftoken-a2z" value="">
								<input type="hidden" name="items[0.base][asin]" value="B0F3JSXRF2">
								<input type="hidden" name="items[0.base][offerListingId]" value="KBcpIifDaAekIIWhD2AgLov6drqFhz0eatjrbizew55rg0hANTA3u%2F2Rk4zdGDhE%2FNMhfSfilKGee8X3xBZtKRMh0HnklQylPHUblTM9FfNtMA7gpb3nSWZXRfo51IEQ3RBdKTY56tBjCLPo4ZKsmeifWjImkdMKH85gnUeP9xWHLh1InV60sF7vW5nS9CF9">
								<input type="hidden" name="items[0.base][quantity]" value="1">
								<input type="hidden" name="clientName" value="Aplus_BuyableModules_DetailPage">
								<div class="add-to-cart">
								<span class="a-button a-spacing-small a-button-primary a-button-icon" id="a-autoid-13">
								<span class="a-button-inner">
								<i class="a-icon a-icon-cart"></i>
								<input class="a-button-input" type="submit" aria-labelledby="a-autoid-13-announce">
								<span class="a-button-text" aria-hidden="true" id="a-autoid-13-announce"> Add to Cart </span>
								</span>
								</span>
								</div>
								</form>
								</th>    
								<th class="aplus-data-column top-header" style="min-width: 230px;">
								<a class="a-link-normal a-text-normal" title="Oval Beveled Cabinet" href="/dp/B0D9W2N6ZL?ref=emc_p_m_5_i_atc">
								<img alt="" src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/96748635-9c07-4065-a0c2-89c6a94d0690.__CR139,0,2222,2500_PT0_SX200_V1___.jpg">
								<p class="product-title"> Oval Beveled Cabinet </p>
								</a>
								<form method="post" action="/cart/add\">
								<input type="hidden" name="anti-csrftoken-a2z" value="">
								<input type="hidden" name="items[0.base][asin]" value="B0D9W2N6ZL">
								<input type="hidden" name="items[0.base][offerListingId]" value="R%2F0B%2BsAP4ZRcXZPGXw6Jvew7T%2BR9Z8w3sQ3%2BNZXCq1EaLORSivNJLEe6zLOsnDNM4uo%2FrSWIcVxD1YaRzxe3MqmWcUuAXoSOxIIlFKPiQ7TPB%2Fe5gNXSPnW%2BHLSgcUTX0f5sY%2BY9asOJfn5aev4nR4%2Fkkku6rjAaiVwWYT%2BjlnCgQRcKP83I3ejSkgoOh1z%2F">
								<input type="hidden" name="items[0.base][quantity]" value="1">
								<input type="hidden" name="clientName" value="Aplus_BuyableModules_DetailPage">
								<div class="add-to-cart">
								<span class="a-button a-spacing-small a-button-primary a-button-icon" id="a-autoid-14">
								<span class="a-button-inner">
								<i class="a-icon a-icon-cart"></i>
								<input class="a-button-input" type="submit" aria-labelledby="a-autoid-14-announce">
								<span class="a-button-text" aria-hidden="true" id="a-autoid-14-announce"> Add to Cart </span>
								</span>
								</span>
								</div>
								</form>
								</th>
								<th class="aplus-data-column top-header" style="min-width: 230px;">
								<a class="a-link-normal a-text-normal" title=" LED Medicine Cabinet" href="/dp/B0C5HR4YG9?ref=emc_p_m_5_i_atc">
								<img alt="" src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/83eefa2c-ff69-4084-ba29-bb14053dff63.__CR122,0,1956,2200_PT0_SX200_V1___.jpg">
								<p class="product-title">  LED Medicine Cabinet </p>
								</a>
								<form method="post" action="/cart/add-to-cart/ref=emc_p_m_5_i_atc_c"> <!-- sp:csrf --><input type="hidden" name="anti-csrftoken-a2z" value="hHJYwiIs43A7qfuo4uDG1vS0VO07Vl0qP1wgklDqtuTeAAAAAGnLkBNiN2RlYmQ1Zi1iNjVkLTQzMzItYWIwYy00ODM0NjYxZDA2MTg=">
								<input type="hidden" name="items[0.base][asin]" value="B0C5HR4YG9">
								<input type="hidden" name="items[0.base][offerListingId]" value="NTm02IzJuaKoNe4EHWSnzrGVMQcTkoUD0z0C%2BE5wDaxREfvEdenlWzXuaYEWbEivVpInp%2Bb93nO2hQdlfGXp21Dk4BItkhyPh4FfPQVxOzQWrLIhmAbRkXkc%2BgcZY3vJHDubQS%2FtqwCkxnH6gCILkPEhdAvWptaiW0WhPsIArzpWQavpQ5YtEj4B8NkfacAy">
								<input type="hidden" name="items[0.base][quantity]" value="1">
								<input type="hidden" name="clientName" value="Aplus_BuyableModules_DetailPage">
								<div class="add-to-cart">
								<span class="a-button a-spacing-small a-button-primary a-button-icon" id="a-autoid-15">
								<span class="a-button-inner">
								<i class="a-icon a-icon-cart"></i>
								<input class="a-button-input" type="submit" aria-labelledby="a-autoid-15-announce">
								<span class="a-button-text" aria-hidden="true" id="a-autoid-15-announce"> Add to Cart </span>
								</span>
								</span>
								</div>
								</form>
								</th>
								<th class="aplus-data-column top-header" style="min-width: 230px;">
								<a class="a-link-normal a-text-normal" title=" LED Medicine Cabinet" href="/dp/B0D2HKQ6V4?ref=emc_p_m_5_i_atc">
								<img alt="" src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/b59eb8d6-75af-43b9-91e5-3a5a9f2a3269.__CR83,0,1333,1500_PT0_SX200_V1___.jpg">
								<p class="product-title">  LED Medicine Cabinet </p>
								</a>
								<form method="post" action="/cart/add">
								<input type="hidden" name="anti-csrftoken-a2z" value="hHJYwiIs43A7qfuo4uDG1vS0VO07Vl0qP1wgklDqtuTeAAAAAGnLkBNiN2RlYmQ1Zi1iNjVkLTQzMzItYWIwYy00ODM0NjYxZDA2MTg=">
								<input type="hidden" name="items[0.base][asin]" value="B0D2HKQ6V4">
								<input type="hidden" name="items[0.base][offerListingId]" value="8CWfXgcD0q1xfTkjNq2xkyOm4%2FUEDv1TQPGmbbdFfhPyj2DQR%2FcdVR5pifmajD0tIxR4g2NuyFDCFsx%2BsEP5AMKBk3GeZeT6pyMDURHQzaDdh%2BzvzDXuydF5MJ0pX3MlAmYFHFVhKkua7hyVKAjXis1YclhwkBzzHTja%2BaQ7bRyZtO%2FpJnmOfuJT7PkByNZv">
								<input type="hidden" name="items[0.base][quantity]" value="1">
								<input type="hidden" name="clientName" value="Aplus_BuyableModules_DetailPage">
								<div class="add-to-cart">
								<span class="a-button a-spacing-small a-button-primary a-button-icon" id="a-autoid-16">
								<span class="a-button-inner">
								<i class="a-icon a-icon-cart"></i>
								<input class="a-button-input" type="submit" aria-labelledby="a-autoid-16-announce">
								<span class="a-button-text" aria-hidden="true" id="a-autoid-16-announce"> Add to Cart </span>
								</span>
								</span>
								</div>
								</form>
								</th>
								<th class="aplus-data-column top-header" style="min-width: 230px;">
								<a class="a-link-normal a-text-normal" title=" LED Medicine Cabinet" href="/dp/B0DDP2GVCL?ref=emc_p_m_5_i_atc">
								<img alt="" src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/dfba93e3-f89e-4421-afae-6b4eef16032a.__CR139,0,2222,2500_PT0_SX200_V1___.jpg">
								<p class="product-title">  LED Medicine Cabinet </p>
								</a>
								<form method="post" action="/cart/add-to-cart/ref=emc_p_m_5_i_atc_c">
								<input type="hidden" name="anti-csrftoken-a2z" value="hHJYwiIs43A7qfuo4uDG1vS0VO07Vl0qP1wgklDqtuTeAAAAAGnLkBNiN2RlYmQ1Zi1iNjVkLTQzMzItYWIwYy00ODM0NjYxZDA2MTg=">
								<input type="hidden" name="items[0.base][asin]" value="B0DDP2GVCL">
								<input type="hidden" name="items[0.base][offerListingId]" value="KBcpIifDaAekIIWhD2AgLpLkOCcnSCshqCD3P7ynSJBOuOdaISpYYrYWGEWUdV0t9ENQB5vWq6PVcjIoSdDCEVcGlgKahFCPT%2B6FDDgTUwhUu3v%2FnHVCQFQpIiWCmkB1%2FVKohX6DBafrFPJDEW68fdaDTWoaTXT4aifoeO85vaO3t18kQhxkENyrLJ33P3W2">
								<input type="hidden" name="items[0.base][quantity]" value="1">
								<input type="hidden" name="clientName" value="Aplus_BuyableModules_DetailPage">
								<div class="add-to-cart">
								<span class="a-button a-spacing-small a-button-primary a-button-icon" id="a-autoid-17">
								<span class="a-button-inner">
								<i class="a-icon a-icon-cart"></i>
								<input class="a-button-input" type="submit" aria-labelledby="a-autoid-17-announce">
								<span class="a-button-text" aria-hidden="true" id="a-autoid-17-announce"> Add to Cart </span>
								</span>
								</span>
								</div>
								</form>
								</th>    
								{% endcomment %}
							</tr>
							
							{% for entry in selected_features %}
								<tr {%if forloop.first %}class="first-content-row"{% endif %}>
									<td class="attribute a-text-bold first-sticky-column column-cell-{{ forloop.index }}">
										<div class="comparison-metric-name" data-inline-content="" data-position="triggerRight">
											<span class="a-text-bold"> {{ entry.feature_name.value | default: entry.feature_name }} </span>
										</div>
									</td>
									
									{%- comment -%} Current product value {%- endcomment -%}
									{% assign current_value = entry[current_compare_key] | metafield_tag | strip_html %}
									<td class="aplus-data-column active active-item second-sticky-column">
										{% if current_value != blank %}
											{{ current_value.value | default: current_value }}
										{% else %}
											—
										{% endif %}
									</td>
									
									{%- comment -%} Compared products values {%- endcomment -%}
									{% for cp in compare_products %}
										{% unless cp.id == product.id %}
											{% assign cp_compare_key = cp.metafields.custom.compare_key.value %}
											{% if cp_compare_key == blank %}
												{% assign cp_compare_key = cp.handle | replace: '-', '_' %}
											{% endif %}
											
											{% assign cp_value = entry[cp_compare_key] | metafield_tag | strip_html %}
											<td class="aplus-data-column secondary-content-column">
												{% if cp_value != blank %}
													{{ cp_value.value | default: cp_value }}
												{% else %}
													—
												{% endif %}
											</td>
										{% endunless %}
									{% endfor %}
									
									{% comment %} <td class="aplus-data-column" style="min-width: 230px;">
									
									<div class="">
									<div class="a-size-base">
									<i class="a-icon a-icon-star-small a-star-small-4-5 a-spacing-none">
									<span class="a-icon-alt">4.7 out of 5 stars</span>
									</i>
									<span class="a-size-mini a-color-base">106</span>
									</div>
									</div>
									</td>
									<td class="aplus-data-column" style="min-width: 230px;">
									<div class="">
									<div class="a-size-base">
									<i class="a-icon a-icon-star-small a-star-small-4-5 a-spacing-none">
									<span class="a-icon-alt">4.7 out of 5 stars</span>
									</i>
									<span class="a-size-mini a-color-base">46</span>
									</div>
									</div> 
									</td>
									<td class="aplus-data-column" style="min-width: 230px;">
									<div class="">
									<div class="a-size-base">
									<i class="a-icon a-icon-star-small a-star-small-4-5 a-spacing-none">
									<span class="a-icon-alt">4.5 out of 5 stars</span>
									</i>
									<span class="a-size-mini a-color-base">242</span>
									</div>
									</div> 
									</td>
									<td class="aplus-data-column" style="min-width: 230px;">
									<div class="">
									<div class="a-size-base">
									<i class="a-icon a-icon-star-small a-star-small-4-5 a-spacing-none">
									<span class="a-icon-alt">4.7 out of 5 stars</span>
									</i>
									<span class="a-size-mini a-color-base">78</span>
									</div>
									</div>
									</td>
									<td class="aplus-data-column" style="min-width: 230px;">
									<div class="">
									<div class="a-size-base">
									<i class="a-icon a-icon-star-small a-star-small-5 a-spacing-none">
									<span class="a-icon-alt">4.8 out of 5 stars</span>
									</i>
									<span class="a-size-mini a-color-base">34</span>
									</div>
									</div>
									</td> {% endcomment %}
								</tr>
							{% endfor %}
							
							{% comment %}
							<tr>   
							<td class="attribute a-text-bold">
							<div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
							<span class="a-text-bold"> Price </span>
							</div>
							</td>
							<td class="aplus-data-column active active-item" style="min-width: 230px; width: 230px;">
							<span class="description">
							<div class="mt-2">
							{% if product %}
							{% render 'price', card_product: product %}
							{% else %}
							{{ 5000 | money }}
							{% endif %}
							</div>
							</span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;">
							<span class="description">
							—
							</span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
							<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;43,823.30</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">43,823<span class="a-price-decimal">.</span></span><span class="a-price-fraction">30</span></span></span>     </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
							<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;41,895.96</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">41,895<span class="a-price-decimal">.</span></span><span class="a-price-fraction">96</span></span></span>     </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
							<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;51,672.33</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">51,672<span class="a-price-decimal">.</span></span><span class="a-price-fraction">33</span></span></span>     </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
							<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;64,241.96</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">64,241<span class="a-price-decimal">.</span></span><span class="a-price-fraction">96</span></span></span>     </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
							<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;64,216.82</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">64,216<span class="a-price-decimal">.</span></span><span class="a-price-fraction">82</span></span></span>     </span>
							</td>   
							</tr> 
							
							<tr>  
							<td class="attribute a-text-bold"> <div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
							<span class="a-text-bold"> Material </span> </div>
							</td>
							<td class="aplus-data-column active active-item" style="min-width: 230px; width: 230px;">
							<span class="description">
							Upgraded Aluminum Structure    </span>
							</td>
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Aluminum+Metal    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Aluminum+Metal    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Aluminum+Metal    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Glass    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Aluminum+Metal    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Built to Last Metal    </span>
							</td>   
							</tr>
							
							<tr>  
							<td class="attribute a-text-bold"> <div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
							<span class="a-text-bold"> Assembly Required </span> </div>
							</td>      
							<td class="aplus-data-column active active-item" style="min-width: 230px; width: 230px;"> <span class="description">
							
							✔       </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							
							✘      </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							
							✘      </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							
							✘      </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							
							✘      </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							
							✘      </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							
							✘      </span>
							</td>   
							</tr>  
							<tr>  
							<td class="attribute a-text-bold"> <div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
							<span class="a-text-bold"> Shelves </span> </div>
							</td>      
							<td class="aplus-data-column active active-item" style="min-width: 230px; width: 230px;"> <span class="description">
							Stepless Adjustable    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Adjustable    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Detachable    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Adjustable    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Adjustable    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Adjustable    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Adjustable    </span>
							</td>   
							</tr>  
							<tr>  
							<td class="attribute a-text-bold"> <div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
							<span class="a-text-bold"> Illumination </span> </div>
							</td>      
							<td class="aplus-data-column active active-item" style="min-width: 230px; width: 230px;"> <span class="description">
							x    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							x    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							x    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							x    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							3000k-4000k-6000k    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							3000k-4000k-6000k    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							3000k-4000k-6000k    </span>
							</td>   </tr>  <tr>  <td class="attribute a-text-bold"> <div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
							<span class="a-text-bold"> Installation </span> </div>
							</td>      
							<td class="aplus-data-column active active-item" style="min-width: 230px; width: 230px;"> <span class="description">
							Recessed or Wall Mounted    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Recessed or Wall Mounted    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Wall Mounted Only    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Recessed or Wall Mounted    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Recessed or Wall Mounted    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Recessed or Wall Mounted    </span>
							</td>      
							<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
							Wall Mounted    </span>
							</td>   
							</tr>
							{% endcomment %}   
						</tbody>
					</table>
				</div>
			</div> 
		</div>
	{% else %}
		<div class="premium-aplus premium-aplus-module-5 aplus-container-3 comparison-table enso-comparison">
			{% render 'section-header' %}    
			<div id="comparison-table-container-6" data-comparison-name="comparison-table-container-6" class="a-section a-spacing-none table-container">  
			<div class="table-slider scroll-wrapper-bottom">
				<table class="a-bordered a-horizontal-stripes scroll-width">
					<tbody>
						
						<tr class="header-row">
							<td class="attribute empty"></td>
							
							<th class="aplus-data-column top-header active active-item">
								<div class="comparison-product-card">
									{% render 'product-card', card_product: product %}
								</div>
							</th>
							
							<th class="aplus-data-column top-header">
								<div class="relative overflow-hidden group/media">
									<a href="{{ url }}" tabindex="-1" data-instant aria-label="{{ card_product.title | default: 'Product' }}">
										<div
											class="product-card-media media rounded-block [--aspect-ratio:--product-card-image-aspect] md:pb-6"
										>
											<lqip-element class="image-loader h-full">
												<img src="https://cdn.shopify.com/s/files/1/0777/8339/files/71Bhm4vc2SL._SX679.jpg?v=1775045042&width=1440"
													widths="360, 450, 540, 630, 720, 900, 1050, 1200, 1320, 1440" loading="lazy" width="" height=""
													class="product-card__image product-thumbnail-shade"/>
												</lqip-element>
											</div>
									</a>
								</div>
							</th>
								
								<th class="aplus-data-column top-header">
									<div class="relative overflow-hidden group/media">
										<a href="{{ url }}" tabindex="-1" data-instant aria-label="{{ card_product.title | default: 'Product' }}">
											<div
												class="product-card-media media rounded-block [--aspect-ratio:--product-card-image-aspect] md:pb-6"
											>
												<lqip-element class="image-loader h-full">
													<img src="https://cdn.shopify.com/s/files/1/0777/8339/files/51z90B1mVTL._AC_SY300_SX300_QL70_ML2.jpg?v=1775046681"
														widths="360, 450, 540, 630, 720, 900, 1050, 1200, 1320, 1440" loading="lazy" width="" height=""
														class="product-card__image product-thumbnail-shade"/>
												</lqip-element>
											</div>
										</a>
									</div>
								</th>
									
									{% comment %} {% for cp in compare_products %}
									{% unless cp.id == product.id %}
									<th class="aplus-data-column top-header" style="min-width: 230px; width: 230px;">
									<div class="comparison-product-card">
									{% render 'product-card', card_product: cp %}
									</div>
									</th>
									{% endunless %}
									{% endfor %} {% endcomment %}
									
									{% comment %} 
									<th class="aplus-data-column top-header" style="min-width: 230px;">
									<a class="a-link-normal a-text-normal" title="Round Medicine Cabinet" href="/dp/B0F3JSXRF2?ref=emc_p_m_5_i_atc">
									<img alt="" src="https://m.media-amazon.com/images/I/419cv1wNlvL.__AC_SR200,225___.jpg">
									<p class="product-title"> Round Medicine Cabinet </p>
									</a>
									<form method="post" action="/cart/add">
									<input type="hidden" name="anti-csrftoken-a2z" value="">
									<input type="hidden" name="items[0.base][asin]" value="B0F3JSXRF2">
									<input type="hidden" name="items[0.base][offerListingId]" value="KBcpIifDaAekIIWhD2AgLov6drqFhz0eatjrbizew55rg0hANTA3u%2F2Rk4zdGDhE%2FNMhfSfilKGee8X3xBZtKRMh0HnklQylPHUblTM9FfNtMA7gpb3nSWZXRfo51IEQ3RBdKTY56tBjCLPo4ZKsmeifWjImkdMKH85gnUeP9xWHLh1InV60sF7vW5nS9CF9">
									<input type="hidden" name="items[0.base][quantity]" value="1">
									<input type="hidden" name="clientName" value="Aplus_BuyableModules_DetailPage">
									<div class="add-to-cart">
									<span class="a-button a-spacing-small a-button-primary a-button-icon" id="a-autoid-13">
									<span class="a-button-inner">
									<i class="a-icon a-icon-cart"></i>
									<input class="a-button-input" type="submit" aria-labelledby="a-autoid-13-announce">
									<span class="a-button-text" aria-hidden="true" id="a-autoid-13-announce"> Add to Cart </span>
									</span>
									</span>
									</div>
									</form>
									</th>    
									<th class="aplus-data-column top-header" style="min-width: 230px;">
									<a class="a-link-normal a-text-normal" title="Oval Beveled Cabinet" href="/dp/B0D9W2N6ZL?ref=emc_p_m_5_i_atc">
									<img alt="" src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/96748635-9c07-4065-a0c2-89c6a94d0690.__CR139,0,2222,2500_PT0_SX200_V1___.jpg">
									<p class="product-title"> Oval Beveled Cabinet </p>
									</a>
									<form method="post" action="/cart/add\">
									<input type="hidden" name="anti-csrftoken-a2z" value="">
									<input type="hidden" name="items[0.base][asin]" value="B0D9W2N6ZL">
									<input type="hidden" name="items[0.base][offerListingId]" value="R%2F0B%2BsAP4ZRcXZPGXw6Jvew7T%2BR9Z8w3sQ3%2BNZXCq1EaLORSivNJLEe6zLOsnDNM4uo%2FrSWIcVxD1YaRzxe3MqmWcUuAXoSOxIIlFKPiQ7TPB%2Fe5gNXSPnW%2BHLSgcUTX0f5sY%2BY9asOJfn5aev4nR4%2Fkkku6rjAaiVwWYT%2BjlnCgQRcKP83I3ejSkgoOh1z%2F">
									<input type="hidden" name="items[0.base][quantity]" value="1">
									<input type="hidden" name="clientName" value="Aplus_BuyableModules_DetailPage">
									<div class="add-to-cart">
									<span class="a-button a-spacing-small a-button-primary a-button-icon" id="a-autoid-14">
									<span class="a-button-inner">
									<i class="a-icon a-icon-cart"></i>
									<input class="a-button-input" type="submit" aria-labelledby="a-autoid-14-announce">
									<span class="a-button-text" aria-hidden="true" id="a-autoid-14-announce"> Add to Cart </span>
									</span>
									</span>
									</div>
									</form>
									</th>
									<th class="aplus-data-column top-header" style="min-width: 230px;">
									<a class="a-link-normal a-text-normal" title=" LED Medicine Cabinet" href="/dp/B0C5HR4YG9?ref=emc_p_m_5_i_atc">
									<img alt="" src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/83eefa2c-ff69-4084-ba29-bb14053dff63.__CR122,0,1956,2200_PT0_SX200_V1___.jpg">
									<p class="product-title">  LED Medicine Cabinet </p>
									</a>
									<form method="post" action="/cart/add-to-cart/ref=emc_p_m_5_i_atc_c"> <!-- sp:csrf --><input type="hidden" name="anti-csrftoken-a2z" value="hHJYwiIs43A7qfuo4uDG1vS0VO07Vl0qP1wgklDqtuTeAAAAAGnLkBNiN2RlYmQ1Zi1iNjVkLTQzMzItYWIwYy00ODM0NjYxZDA2MTg=">
									<input type="hidden" name="items[0.base][asin]" value="B0C5HR4YG9">
									<input type="hidden" name="items[0.base][offerListingId]" value="NTm02IzJuaKoNe4EHWSnzrGVMQcTkoUD0z0C%2BE5wDaxREfvEdenlWzXuaYEWbEivVpInp%2Bb93nO2hQdlfGXp21Dk4BItkhyPh4FfPQVxOzQWrLIhmAbRkXkc%2BgcZY3vJHDubQS%2FtqwCkxnH6gCILkPEhdAvWptaiW0WhPsIArzpWQavpQ5YtEj4B8NkfacAy">
									<input type="hidden" name="items[0.base][quantity]" value="1">
									<input type="hidden" name="clientName" value="Aplus_BuyableModules_DetailPage">
									<div class="add-to-cart">
									<span class="a-button a-spacing-small a-button-primary a-button-icon" id="a-autoid-15">
									<span class="a-button-inner">
									<i class="a-icon a-icon-cart"></i>
									<input class="a-button-input" type="submit" aria-labelledby="a-autoid-15-announce">
									<span class="a-button-text" aria-hidden="true" id="a-autoid-15-announce"> Add to Cart </span>
									</span>
									</span>
									</div>
									</form>
									</th>
									<th class="aplus-data-column top-header" style="min-width: 230px;">
									<a class="a-link-normal a-text-normal" title=" LED Medicine Cabinet" href="/dp/B0D2HKQ6V4?ref=emc_p_m_5_i_atc">
									<img alt="" src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/b59eb8d6-75af-43b9-91e5-3a5a9f2a3269.__CR83,0,1333,1500_PT0_SX200_V1___.jpg">
									<p class="product-title">  LED Medicine Cabinet </p>
									</a>
									<form method="post" action="/cart/add">
									<input type="hidden" name="anti-csrftoken-a2z" value="hHJYwiIs43A7qfuo4uDG1vS0VO07Vl0qP1wgklDqtuTeAAAAAGnLkBNiN2RlYmQ1Zi1iNjVkLTQzMzItYWIwYy00ODM0NjYxZDA2MTg=">
									<input type="hidden" name="items[0.base][asin]" value="B0D2HKQ6V4">
									<input type="hidden" name="items[0.base][offerListingId]" value="8CWfXgcD0q1xfTkjNq2xkyOm4%2FUEDv1TQPGmbbdFfhPyj2DQR%2FcdVR5pifmajD0tIxR4g2NuyFDCFsx%2BsEP5AMKBk3GeZeT6pyMDURHQzaDdh%2BzvzDXuydF5MJ0pX3MlAmYFHFVhKkua7hyVKAjXis1YclhwkBzzHTja%2BaQ7bRyZtO%2FpJnmOfuJT7PkByNZv">
									<input type="hidden" name="items[0.base][quantity]" value="1">
									<input type="hidden" name="clientName" value="Aplus_BuyableModules_DetailPage">
									<div class="add-to-cart">
									<span class="a-button a-spacing-small a-button-primary a-button-icon" id="a-autoid-16">
									<span class="a-button-inner">
									<i class="a-icon a-icon-cart"></i>
									<input class="a-button-input" type="submit" aria-labelledby="a-autoid-16-announce">
									<span class="a-button-text" aria-hidden="true" id="a-autoid-16-announce"> Add to Cart </span>
									</span>
									</span>
									</div>
									</form>
									</th>
									<th class="aplus-data-column top-header" style="min-width: 230px;">
									<a class="a-link-normal a-text-normal" title=" LED Medicine Cabinet" href="/dp/B0DDP2GVCL?ref=emc_p_m_5_i_atc">
									<img alt="" src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/dfba93e3-f89e-4421-afae-6b4eef16032a.__CR139,0,2222,2500_PT0_SX200_V1___.jpg">
									<p class="product-title">  LED Medicine Cabinet </p>
									</a>
									<form method="post" action="/cart/add-to-cart/ref=emc_p_m_5_i_atc_c">
									<input type="hidden" name="anti-csrftoken-a2z" value="hHJYwiIs43A7qfuo4uDG1vS0VO07Vl0qP1wgklDqtuTeAAAAAGnLkBNiN2RlYmQ1Zi1iNjVkLTQzMzItYWIwYy00ODM0NjYxZDA2MTg=">
									<input type="hidden" name="items[0.base][asin]" value="B0DDP2GVCL">
									<input type="hidden" name="items[0.base][offerListingId]" value="KBcpIifDaAekIIWhD2AgLpLkOCcnSCshqCD3P7ynSJBOuOdaISpYYrYWGEWUdV0t9ENQB5vWq6PVcjIoSdDCEVcGlgKahFCPT%2B6FDDgTUwhUu3v%2FnHVCQFQpIiWCmkB1%2FVKohX6DBafrFPJDEW68fdaDTWoaTXT4aifoeO85vaO3t18kQhxkENyrLJ33P3W2">
									<input type="hidden" name="items[0.base][quantity]" value="1">
									<input type="hidden" name="clientName" value="Aplus_BuyableModules_DetailPage">
									<div class="add-to-cart">
									<span class="a-button a-spacing-small a-button-primary a-button-icon" id="a-autoid-17">
									<span class="a-button-inner">
									<i class="a-icon a-icon-cart"></i>
									<input class="a-button-input" type="submit" aria-labelledby="a-autoid-17-announce">
									<span class="a-button-text" aria-hidden="true" id="a-autoid-17-announce"> Add to Cart </span>
									</span>
									</span>
									</div>
									</form>
									</th>    
									{% endcomment %}
						</tr>
								
								{% for entry in selected_features %}{% endfor %}
								<tr class="first-content-row">
									<td class="attribute a-text-bold column-cell-1">
										<div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
											<span class="a-text-bold"> Category </span>
										</div>
									</td>
									
									{%- comment -%} Current product value {%- endcomment -%}
									<td class="aplus-data-column active active-item second-sticky-column">
										Electric hookah
									</td>
									<td class="aplus-data-column secondary-content-column">
										Coal hookah
									</td>
									<td class="aplus-data-column secondary-content-column">
										Home vape
									</td>
									
									
									{%- comment -%} Compared products values {%- endcomment -%}
									{% for cp in compare_products %}
										{% unless cp.id == product.id %}
											{% assign cp_compare_key = cp.metafields.custom.compare_key.value %}
											{% if cp_compare_key == blank %}
												{% assign cp_compare_key = cp.handle | replace: '-', '_' %}
											{% endif %}
											
											{% assign cp_value = entry[cp_compare_key] | metafield_tag %}
											<td class="aplus-data-column" style="min-width: 230px;">
												{% if cp_value != blank %}
													{{ cp_value.value | default: cp_value }}
												{% else %}
													—
												{% endif %}
											</td>
										{% endunless %}
									{% endfor %}
									
									{% comment %} <td class="aplus-data-column" style="min-width: 230px;">
									
									<div class="">
									<div class="a-size-base">
									<i class="a-icon a-icon-star-small a-star-small-4-5 a-spacing-none">
									<span class="a-icon-alt">4.7 out of 5 stars</span>
									</i>
									<span class="a-size-mini a-color-base">106</span>
									</div>
									</div>
									</td>
									<td class="aplus-data-column" style="min-width: 230px;">
									<div class="">
									<div class="a-size-base">
									<i class="a-icon a-icon-star-small a-star-small-4-5 a-spacing-none">
									<span class="a-icon-alt">4.7 out of 5 stars</span>
									</i>
									<span class="a-size-mini a-color-base">46</span>
									</div>
									</div> 
									</td>
									<td class="aplus-data-column" style="min-width: 230px;">
									<div class="">
									<div class="a-size-base">
									<i class="a-icon a-icon-star-small a-star-small-4-5 a-spacing-none">
									<span class="a-icon-alt">4.5 out of 5 stars</span>
									</i>
									<span class="a-size-mini a-color-base">242</span>
									</div>
									</div> 
									</td>
									<td class="aplus-data-column" style="min-width: 230px;">
									<div class="">
									<div class="a-size-base">
									<i class="a-icon a-icon-star-small a-star-small-4-5 a-spacing-none">
									<span class="a-icon-alt">4.7 out of 5 stars</span>
									</i>
									<span class="a-size-mini a-color-base">78</span>
									</div>
									</div>
									</td>
									<td class="aplus-data-column" style="min-width: 230px;">
									<div class="">
									<div class="a-size-base">
									<i class="a-icon a-icon-star-small a-star-small-5 a-spacing-none">
									<span class="a-icon-alt">4.8 out of 5 stars</span>
									</i>
									<span class="a-size-mini a-color-base">34</span>
									</div>
									</div>
									</td> {% endcomment %}
								</tr>
								
								<tr>   
								<td class="attribute a-text-bold">
									<div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
										<span class="a-text-bold"> Heat style </span>
									</div>
								</td>
								<td class="aplus-data-column active active-item second-sticky-column">
									<span class="description">
										Clean electric
									</span>
								</td>      
								<td class="aplus-data-column secondary-content-column">
									<span class="description">
										Burning coal
									</span>
								</td>           
								<td class="aplus-data-column secondary-content-column">
									<span class="description">
										Dry heat
									</span>
								</td>      
								{% comment %} <td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
								<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;51,672.33</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">51,672<span class="a-price-decimal">.</span></span><span class="a-price-fraction">33</span></span></span>     </span>
								</td>      
								<td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
								<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;64,241.96</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">64,241<span class="a-price-decimal">.</span></span><span class="a-price-fraction">96</span></span></span>     </span>
								</td>      
								<td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
								<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;64,216.82</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">64,216<span class="a-price-decimal">.</span></span><span class="a-price-fraction">82</span></span></span>     </span>
								</td>    {% endcomment %}
							</tr> 
							
		<tr>   
			<td class="attribute a-text-bold">
				<div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
					<span class="a-text-bold"> What you use </span>
				</div>
			</td>
			<td class="aplus-data-column active active-item second-sticky-column">
				<span class="description">
					Molasses + dry herb
				</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">
					Shisha molasses
				</span>
			</td>           
			<td class="aplus-data-column secondary-content-column">
				<span class="description">
					Dry herb
				</span>
			</td>      
			{% comment %} <td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
			<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;51,672.33</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">51,672<span class="a-price-decimal">.</span></span><span class="a-price-fraction">33</span></span></span>     </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
			<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;64,241.96</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">64,241<span class="a-price-decimal">.</span></span><span class="a-price-fraction">96</span></span></span>     </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
			<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;64,216.82</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">64,216<span class="a-price-decimal">.</span></span><span class="a-price-fraction">82</span></span></span>     </span>
			</td>    {% endcomment %}
		</tr> 
						
		<tr>   
			<td class="attribute a-text-bold">
				<div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
					<span class="a-text-bold"> Flavor quality </span>
				</div>
			</td>
			<td class="aplus-data-column active active-item second-sticky-column">
				<span class="description">
					Pure flavor
				</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">
					Coal-tainted
				</span>
			</td>           
			<td class="aplus-data-column secondary-content-column">
				<span class="description">
					Herb taste
				</span>
			</td>      
			{% comment %} <td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
			<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;51,672.33</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">51,672<span class="a-price-decimal">.</span></span><span class="a-price-fraction">33</span></span></span>     </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
			<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;64,241.96</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">64,241<span class="a-price-decimal">.</span></span><span class="a-price-fraction">96</span></span></span>     </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;">  <span class="description">
			<span class="a-price" data-a-size="medium_plus" data-a-color="base"><span class="a-offscreen">PKR&nbsp;64,216.82</span><span aria-hidden="true"><span class="a-price-symbol">PKR</span><span class="a-price-whole">64,216<span class="a-price-decimal">.</span></span><span class="a-price-fraction">82</span></span></span>     </span>
			</td>    {% endcomment %}
		</tr>
					
		<tr>  
			<td class="attribute a-text-bold">
				<div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
					<span class="a-text-bold"> Cloud style </span> 
				</div>
			</td>
			<td class="aplus-data-column active active-item second-sticky-column">
				<span class="description">Big clouds</span>
			</td>
			<td class="aplus-data-column secondary-content-column">
				<span class="description">Heavy smoke</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">Light vapor</span>
			</td> 
		
			{% comment %} <td class="aplus-data-column" style="min-width: 230px;">
			<span class="description">Light vapor</span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Glass    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Aluminum+Metal    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Built to Last Metal    </span>
			</td>    {% endcomment %}
		</tr>
				
				
		<tr>  
			<td class="attribute a-text-bold">
				<div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
					<span class="a-text-bold">Session vibe</span>
				</div>
			</td>      
			<td class="aplus-data-column active active-item second-sticky-column">
				<span class="description">Party or solo ritual</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">Old-school ritual</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">Solo sessions</span>
			</td> 
		
			{% comment %} <td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			
			✘      </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			
			✘      </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			
			✘      </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			
			✘      </span>
			</td>    {% endcomment %}
		</tr> 
			
		<tr>   
			<td class="attribute a-text-bold">
				<div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
					<span class="a-text-bold">Session time</span>
				</div>
			</td>      
			<td class="aplus-data-column active active-item second-sticky-column">
				<span class="description">Long sessions</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">Long sessions</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">Short sessions</span>
			</td> 
		
			{% comment %} <td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Adjustable    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Adjustable    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Adjustable    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Adjustable    </span>
			</td>    {% endcomment %}
		</tr>
		
		
		<tr>  
			<td class="attribute a-text-bold">
				<div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
					<span class="a-text-bold">Setup</span>
				</div>
			</td>      
			<td class="aplus-data-column active active-item second-sticky-column">
				<span class="description">Fast setup</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">Messy prep</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">Simple use</span>
			</td>
		
			{% comment %} <td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			x    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			3000k-4000k-6000k    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			3000k-4000k-6000k    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			3000k-4000k-6000k    </span>
			</td>    {% endcomment %}
		</tr>  
	
		<tr>  
			<td class="attribute a-text-bold">
				<div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
					<span class="a-text-bold"> Portability </span>
				</div>
			</td>      
			<td class="aplus-data-column active active-item second-sticky-column">
				<span class="description">Cord-free</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">Bulky setup</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">Plug-in only</span>
			</td>
		
			{% comment %} <td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Recessed or Wall Mounted    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Recessed or Wall Mounted    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Recessed or Wall Mounted    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Wall Mounted    </span>
			</td>    {% endcomment %}
		</tr>

		<tr>  
			<td class="attribute a-text-bold">
				<div class="comparison-metric-name " data-inline-content="" data-position="triggerRight">
					<span class="a-text-bold"> Best for </span>
				</div>
			</td>      
			<td class="aplus-data-column active active-item second-sticky-column">
				<span class="description">Modern hookah</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">Traditional smokers</span>
			</td>      
			<td class="aplus-data-column secondary-content-column">
				<span class="description">Personal vaping</span>
			</td>

			{% comment %} <td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Recessed or Wall Mounted    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Recessed or Wall Mounted    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Recessed or Wall Mounted    </span>
			</td>      
			<td class="aplus-data-column" style="min-width: 230px;"> <span class="description">
			Wall Mounted    </span>
			</td>    {% endcomment %}
		</tr>

	</tbody>
</table>
</div>
</div>
<div class="text-center">
	<strong>Pure flavor. Big clouds. Modern hookah sessions without coal, flame, or the mess</strong>
</div> 
</div>
{% endif %}
</div>
</div>


{% schema %}
{
	"name": "Aplus comparison",
	"enabled_on": {
		"templates": ["product"]
	},
	"settings": [
		{
			"type": "header",
			"content": "t:sections.all.headers.heading"
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "t:sections.all.subheading.label"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "t:sections.all.heading.label",
			"default": "You may also like"
		},
		{
			"type": "select",
			"id": "heading_size",
			"label": "t:sections.all.heading_size.label",
			"options": [
				{
					"value": "h0",
					"label": "t:sections.all.heading_size.options__0.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__3.label"
				},
				{
					"value": "h4",
					"label": "t:sections.all.heading_size.options__4.label"
				},
				{
					"value": "h5",
					"label": "t:sections.all.heading_size.options__5.label"
				},
				{
					"value": "h6",
					"label": "t:sections.all.heading_size.options__6.label"
				}
			],
			"default": "h2"
		},
		{
			"type": "richtext",
			"id": "content",
			"label": "t:sections.all.content.label"
		},
		{
			"type": "select",
			"id": "text_alignment",
			"label": "t:sections.all.text_alignment.label",
			"options": [
				{
					"value": "text-left",
					"label": "t:sections.all.text_alignment.options.text_left.label"
				},
				{
					"value": "text-center",
					"label": "t:sections.all.text_alignment.options.text_center.label"
				},
				{
					"value": "text-right",
					"label": "t:sections.all.text_alignment.options.text_right.label"
				}
			],
			"default": "text-center"
		},
	],
	"presets": [
		{
			"name": "Aplus comparison",
			"category": "Main Product"
		}
	]
}
{% endschema %}						