{% render 'section-bg-number-vars' %}

<style>
	.shopify-section {
		--content-width: {% render 'get-content-width', type: section.settings.content_width %};
	}
</style>
<section {% render 'section-attrs' %}>
	<div class="section-body trim-margins">
		<div class="services-container {% if section.settings.vertical_layout %}services-vertical-layout text-center{% endif %}" style="background-color: {{ section.settings.bg_color }};">
			<div class="services-intro {% if section.settings.show_divider %}has-divider{% endif %}">
				<h2 class="uppercase">{{ section.settings.heading | escape }}</h2>
				{% if section.settings.text_1 != blank %}
					<p>{{ section.settings.text_1 }}</p>
				{% endif %}
				<div class="intro-images">
					{% if section.settings.intro_img_1 != blank %}	
						{% assign alt_intro_img_1 = section.settings.intro_img_1.alt | default: 'Limited Warranty' %}											
						{{
							section.settings.intro_img_1
							| image_url: width: 280
							| image_tag:
								widths: '140, 280, 420, 560',
								sizes: '(max-width: 480px) 140px, (max-width: 768px) 280px, 280px',
								width: 280,
								height: 280,
								alt: alt_intro_img_1,
								loading: 'lazy'
							}}
						{% endif %}
						{% if section.settings.intro_img_2 != blank %}
							{% assign alt_intro_img_2 = section.settings.intro_img_2.alt | default: '30 Days Guarantee' %}
								{{
									section.settings.intro_img_2
									| image_url: width: 280
									| image_tag:
										widths: '140, 280, 420, 560',
										sizes: '(max-width: 480px) 140px, (max-width: 768px) 280px, 280px',
										width: 280,
										height: 280,
										alt: alt_intro_img_2,
										loading: 'lazy'
									}}
							{% endif %}
						</div>
					</div>
					<div class="services-grid">
						{% for block in section.blocks %}
							<div class="service-card" {{ block.shopify_attributes }}>
								{% if block.settings.icon_html != blank %}
									<div class="service-icon">
										{{ block.settings.icon_html }}
									</div>
								{% elsif block.settings.icon_image != blank %}
									<div class="service-icon">		
										{% assign alt_image = block.settings.icon_image.alt | default: block.settings.title %}								
										{{
											block.settings.icon_image
											| image_url: width: 88
											| image_tag:
												widths: '44, 88, 132',
												sizes: '88px',
												width: 88,
												height: 88,
												alt: alt_image ,
												loading: 'lazy'
											}}

										</div>
									{% endif %}
									
									<h3>{{ block.settings.title | escape }}</h3>
									<p>{{ block.settings.text }}</p>
									
									{% if block.settings.link_label != blank and block.settings.link_url != blank %}
										<a href="{{ block.settings.link_url }}" class="service-link" style="color: {{ section.settings.link_color }};">{{ block.settings.link_label | escape }}</a>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
			

    {{ 'custom-homepage-usps.css' | asset_url | preload_tag: as: 'style' }}
    <link rel="stylesheet"
        href="{{ 'custom-homepage-usps.css' | asset_url }}"
        media="print"
        onload="this.onload=null;this.media='all'">
    <noscript>
    {{ 'custom-homepage-usps.css' | asset_url | stylesheet_tag }}
    </noscript>
			{% schema %}
			{
				"name": "General USPs",
				"settings": [
					{
						"type": "checkbox",
						"id": "full_width",
						"label": "t:sections.all.full_width.label",
						"default": true
					},
					{
						"type": "color",
						"id": "bg_color",
						"label": "Container Background Color",
						"default": "#333333"
					},
					{
						"id": "vertical_layout",
						"type": "checkbox",
						"label": "Vertical Layout"
					},
					{
						"type": "checkbox",
						"id": "show_divider",
						"label": "Show Vertical Divider",
						"default": true
					},
					{
						"type": "text",
						"id": "heading",
						"label": "Heading",
						"default": "Premium Assurance with Lifetime Support"
					},
					{
						"type": "textarea",
						"id": "text_1",
						"label": "Paragraph",
						"default": "Enjoy peace of mind with our 30-day money-back guarantee and a lifetime warranty, proving our commitment to high-quality, trusted products since 2013."
					},
					{
						"type": "image_picker",
						"id": "intro_img_1",
						"label": "First Intro Image"
					},
					{
						"type": "image_picker",
						"id": "intro_img_2",
						"label": "Second Intro Image"
					},
					{
						"type": "color",
						"id": "link_color",
						"label": "Service Link Color",
						"default": "#ffd814"
					},
					{
						"type": "header",
						"content": "t:sections.all.headers.colors"
					},
					{
						"type": "color",
						"label": "t:sections.all.background_color.label",
						"id": "background_color"
					},
					{
						"type": "color",
						"label": "t:sections.all.text_color.label",
						"id": "text_color"
					},
					{
						"type": "color",
						"label": "t:sections.all.heading_color.label",
						"id": "heading_color"
					},
					{
						"type": "header",
						"content": "t:sections.all.headers.seo"
					},
					{
						"type": "select",
						"id": "heading_html_tag",
						"label": "t:sections.all.heading_html_tag.label",
						"options": [
							{
								"value": "h1",
								"label": "h1"
							},
							{
								"value": "h2",
								"label": "h2"
							},
							{
								"value": "h3",
								"label": "h3"
							},
							{
								"value": "h4",
								"label": "h4"
							},
							{
								"value": "h5",
								"label": "h5"
							},
							{
								"value": "h6",
								"label": "h6"
							},
							{
								"value": "p",
								"label": "p"
							},
							{
								"value": "span",
								"label": "span"
							},
							{
								"value": "div",
								"label": "div"
							}
						],
						"default": "p",
						"info": "t:sections.all.heading_html_tag.info"
					}
				],
				"blocks": [
					{
						"type": "service",
						"name": "Service Item",
						"limit": 6,
						"settings": [
							{
								"type": "html",
								"id": "icon_html",
								"label": "Icon HTML (SVG)"
							},
							{
								"type": "image_picker",
								"id": "icon_image",
								"label": "Icon Image (if SVG is blank)"
							},
							{
								"type": "text",
								"id": "title",
								"label": "Title",
								"default": "Service Name"
							},
							{
								"type": "textarea",
								"id": "text",
								"label": "Description",
								"default": "Describe your service here."
							},
							{
								"type": "text",
								"id": "link_label",
								"label": "Link Label",
								"default": "More about this service"
							},
							{
								"type": "url",
								"id": "link_url",
								"label": "Link URL"
							}
						]
					}
				],
				"presets": [
					{
						"name": "General USPs",
						"category": "Custom Sections",
						"blocks": [
							{
								"type": "service",
								"settings": {
									"title": "FAST HEAT-UP",
									"text": "Ready to go in seconds",
									"link_label": ""
								}
							},
							{
								"type": "service",
								"settings": {
									"title": "PURE FLAVOUR",
									"text": "Crisp vapor with precision",
									"link_label": ""
								}
							},
							{
								"type": "service",
								"settings": {
									"title": "EASY TO USE",
									"text": "Effortless enjoyment",
									"link_label": ""
								}
							},
							{
								"type": "service",
								"settings": {
									"title": "LONG BATTERY LIFE",
									"text": "Enjoy more sessions",
									"link_label": ""
								}
							}
						]
					}
				]
			}
			{% endschema %}