{% render 'section-bg-number-vars' %}

<style>
  #shopify-section-{{ section.id }} {
    --content-width: {% render 'get-content-width', type: section.settings.content_width %};
  }
</style>
{% liquid

  if section.settings.link_url != blank
    assign link_url = section.settings.link_url
  else
    assign link_url = null
  endif
%}
 <section {% render 'section-attrs' %}>
  <div class="section-body trim-margins {{ section.settings.text_alignment }}">
    {% render 'section-header', link_text: section.settings.link_text, link_url: link_url %}
    <div class="airvape-cate-product-grid" aria-label="Product categories">
      {% assign categories = section.blocks | where: 'type', 'category' %}
        {% assign categories = section.blocks | where: 'type', 'category' %}
{% assign card_classes = 'disposables,eliquids,nicotine,vapekits,vapecoils,card-a,card-b,card-c,card-d' | split: ',' %}

{% for block in categories %}
  {% liquid
    assign lazyload = 'eager'
    if forloop.index > 1
      assign lazyload = 'lazy'
    endif
    assign class_index = forloop.index0 | modulo: card_classes.size
    assign card_class = card_classes[class_index]
  %}

  {% if block.settings.image != blank %}
    <a
      data-animation="paragraph"
      data-animation-group="{{ section.id }}"
      href="{{ block.settings.custom_url | default: '#' }}"
      class="card-link"
    >
      <div class="airvape-cate-card card--{{ card_class }}" {{ block.shopify_attributes }}>

        {%- assign img_alt = block.settings.image.alt | default: block.settings.title -%}
        {%- assign img_url = block.settings.image | image_url: width: 450 -%}

        <img
          src="{{ img_url }}"
          srcset="
            {{ block.settings.image | image_url: width: 160 }} 160w,
            {{ block.settings.image | image_url: width: 240 }} 240w,
            {{ block.settings.image | image_url: width: 360 }} 360w,
            {{ block.settings.image | image_url: width: 450 }} 450w
          "
          sizes="(max-width: 480px) 160px, (max-width: 768px) 240px, 360px"
          alt="{{ img_alt }}"
          class="product-category-image card-mockup"
          loading="{{ lazyload }}"
          width="{{ block.settings.image.width }}"
          height="{{ block.settings.image.height }}"
        >

        <div class="card-cat-content">
          <h2 class="card-label">{{ block.settings.title }}</h2>
          <p class="card-sublabel">{{ block.settings.sub_title }}</p>
        </div>

      </div>
    </a>
  {% endif %}
{% endfor %}

  </div>
  </div>
  </section>


    {{ 'custom-categories.css' | asset_url | preload_tag: as: 'style' }}
    <link rel="stylesheet"
        href="{{ 'custom-categories.css' | asset_url }}"
        media="print"
        onload="this.onload=null;this.media='all'">
    <noscript>
    {{ 'custom-categories.css' | asset_url | stylesheet_tag }}
    </noscript>
{% schema %}
{
    "name": "Categories",
      "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.full_width.label",
      "default": true
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.rich-text.settings.content_width.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.rich-text.settings.content_width.options__0.label"
        },
        {
          "value": "normal",
          "label": "t:sections.rich-text.settings.content_width.options__1.label"
        },
        {
          "value": "large",
          "label": "t:sections.rich-text.settings.content_width.options__2.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.rich-text.settings.content_width.options__3.label"
        },
        {
          "value": "full-width",
          "label": "t:sections.rich-text.settings.content_width.options__4.label"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.featured-collection.settings.heading.label",
      "default": "Featured collection"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__0.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.all.text_alignment.label",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.all.text_alignment.options.text_left.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.all.text_alignment.options.text_center.label"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "t:sections.featured-collection.settings.link_text.label",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.featured-collection.settings.link_url.label",
      "info": "t:sections.featured-collection.settings.link_url.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.colors"
    },
    {
      "type": "color",
      "label": "t:sections.all.background_color.label",
      "id": "background_color"
    },
    {
      "type": "color",
      "label": "t:sections.all.text_color.label",
      "id": "text_color"
    },
    {
      "type": "color",
      "label": "t:sections.all.heading_color.label",
      "id": "heading_color"
    }
  ],
  "blocks": [
    {
       "type": "category",
       "name" : "Category",
       "limit" : 9,
       "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "url",
                "id": "custom_url",
                "label": "Custom URL"
            },
            {
                "type": "inline_richtext",
                "id": "sub_title",
                "label": "Sub Title",
                "default": "Sub Title"
            },
            {
                "type": "inline_richtext",
                "id": "title",
                "label": "Title",
                "default": "Title"
            }
       ]
    }
  ],
    "presets": [
        {
            "name": "Categories"
        }
    ]
}
{% endschema %}
